form {
    display: flex;
    align-items: center;
    position: relative;

    img {
        width: 1rem;
        height: 1rem;
        position: absolute;
        left: .75rem;

    }

    .search {
        width: 215px;
        border: none;
        border-radius: .6125rem;
        outline: none;
        background-color: #F9FBFF;
        padding: .6125rem 0;
        padding-left: 2rem;
        box-sizing: border-box;
        color: #B5B7C0;


        &::placeholder {
            font-size: .75rem;
            font-weight: 400;
            color: #B5B7C0;

        }
    }

}